@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-Regular.otf' | relative_url }}") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-Italic.otf' | relative_url }}") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-Semibold.otf' | relative_url }}") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-SemiboldItalic.otf' | relative_url }}") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-Bold.otf' | relative_url }}") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ACaslonPro";
  src: url("{{ '/assets/fonts/ACaslonPro-BoldItalic.otf' | relative_url }}") format("opentype");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "NYIrvin";
  src: url("{{ '/assets/fonts/NY Irvin.ttf' | relative_url }}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Body font */
body {
  font-family: "ACaslonPro", serif;
  font-weight: 400;
}

/* Titles use NY Irvin */
h1, h2, h3, .post-title, .page-title {
  font-family: "NYIrvin", serif;
  font-weight: normal;
}

/* Nice touch for quotes */
blockquote {
  font-family: "ACaslonPro";
  font-style: italic;
}

